
/* General syles
***************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

body {
  font-family: 'Consolas', monospace;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box; 
  height: 100%; 
  width: 100vw;
  border: 3px solid gold;
  background: #E03693;
  background: -webkit-radial-gradient(bottom right, #E03693, #B9C8F0);
  background: -moz-radial-gradient(bottom right, #E03693, #B9C8F0);
  background: radial-gradient(to top left, #E03693, #B9C8F0);
}

h1 { font-family: Consolas, Roboto Mono, monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
h2 { font-family: Consolas, monaco, monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
h3 { font-family: Consolas, monaco, monospace; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
p { font-family: Consolas, monaco, monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 200; line-height: 22px; } 
blockquote { font-family: Consolas, monaco, monospace; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
pre { font-family: Consolas, monaco, monospace; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
ul {padding-inline-start: 10px!important; padding-inline-end: 5px!important; margin-block-start: 0;}
a {text-decoration: none; font-size: 18px;}

main {padding: 5vw 6vw;}

.site-container {
  border: 2px solid red;
}



// .site-header {
  
//   border: 3px solid teal;
// }


.site-navigation { height: 50px; width: 100%;  }
.site-navigation .close-btn {margin-top: -6px;}
.site-navigation-list {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  

}



.site-navigation-item {
  display: inline-block;
  a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding:2.5px 5px;

    &:hover {
      border: 1px solid black;
    }
  }

  &.active-link > a {
    text-decoration: underline;
  }

}

.site-title-heading {display: none;}
.content-container { border: 3px solid lime; }

.site-footer {
  border: 2px solid orange;
}

.logo-wrapper {width: 100%; text-align: center;
  }
  
  .logo-wrapper img {max-width: 300px; width: 100%; cursor: url("/assets/bling-pointer.svg"), auto; }
  
  .page-title-h1 {
    text-transform: uppercase;
    width: 100%; 
    color: white;
    font-size: 48px;
  }

/* Homepage
***************************************************/

body.homepage {
  background-image: url("/assets/hangon_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  }

.homepage .logo-wrapper{
  display: none;
}

// BLOCK STYLING 

.box {
  border: 2px solid black;
  padding: 25px;
  transform: translate(10px, -10px);
}

.box-wrapper {
  border: 2px solid black;
  z-index: 2;
  margin: 5vw 2.5vw;
}

.img-box {width: 100%; margin: -6px 0px;}
.window-bar-wrapper {border: 2px solid black; margin: 5vw 2.5vw;}
.window-bar {
  width: 100%;
  top: 0; 
  height: 35px;
 
  color: white;
  display: inline-block;
}

// .window-bar img {margin: -10px 0px 0px 0px;}
.window-bar a {float: right;}
.window-bar p {float: left; padding: 5px 5px 5px 5px; margin: 0 0 0 5px;}

.close-btn {padding: 4px 10px;
   color: white; background: rgba(255,255,255,0.5); float: right; border: 2px solid white;}
.close-btn:hover {color: black; border: 2px solid black;}



#jonas_caption {
  position: absolute; margin: -200px 0vw 0 200px;
  // position: absolute; margin: 30% 0 0 15%; max-width: 400px;
}

///////////////////////////////////// FEATURED BLING SECTION
div#yui_3_17_2_1_1607488832489_327 {
  background: white !important;
  max-height: 950px !important;
  overflow-y: scroll !important;
}


//######################## ABOUT PAGE 

#page-5fd02f0826d54b3c06c9d1a9.site-container {
  background-image: url("/assets/about-bg-long.jpg")!important;
  background-size: cover;
  background-repeat: no-repeat;
}
 




/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}

// SHOP STYLING 


#productList .product {
  cursor: pointer;
  float: left;
  
  position: relative;
  width: 22%;
  left: 0.5%;
  min-width: 100px;
  
}

#productList {
  width: 100%;
  border: 1px solid pink;
  margin: 0;
  display: flex; 
  flex-wrap: wrap;
  
}

.product, .summary-item {
  flex-grow: 1;
  border: 2px solid #e03593;; 
  padding: 25px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 500px;
  background: #fbe3f3;
  margin: 25px;
  
}

.post-type-store-item:hover {
  border: 2px inset #b1a9f3;
  transform: scale(1.05);
  background: white;
}

.product-title, .summary-title, .summary-title-link{
  text-decoration: none !important;
  color: black;
  font-size: 20px !important;
  margin: 24px 0px;
}

.product-price {
  text-decoration: none;
  display: flex; 
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 21px;
  color: white;
  width: 100%; 
  text-align: center;
  
}

.product-price span {
  font-size: 18px !important;
}

//############################# BLING SHOP 
.bling_shop_header { height: 35px; color: white; padding: 5px;}

.filter-menu-wrapper {
  width: 55%; 
  max-width: 875px;
  position: absolute;
  margin-right: 5vw;
  margin-top: 25px;
  z-index: 10;
}

.filter-spacer {width: 65%; float: left;}
.filter-menu {width: 35%; float: right; padding: 0px 10px; }
.filter-menu li a {font-size: 16px; padding: 2px; }
.filter-menu li {list-style-type: none; margin: 0; border: 1px;}
.filter-menu ul {padding-inline-start: 0%; text-align: right;}
.filter-menu a {color: black;}
.filter-menu a:hover {text-decoration: underline; }
.reviews {
  width: 100%; 
  // height: 300px;
  // background: #b9c8f0;
  margin-bottom: 10%;
}

.filter-menu-hover a:hover {display: block;}

// ####################################### INSTAGRAM SECTION 
.instagram_header {
  text-align: center; 
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%; 
  margin-top: 2.5vh;
}

.eye_sticker {
  padding: 20px;
  width: 100px;
}

/* Break grid and stack blocks on small screens
***************************************************/




@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}


.light-lav {background: #e1def4;}
.lavender {background: #b1a9f3;}
.magenta {background: #e03593;}
.light-pink {background: #fbe3f3;}
.pink {background: #f5b8eb;}
.dark-pink {background: #c36acd;}
.light-blue {background: #b9c8f0;}
.light-orange {background: #f9eee2}
.orange {background: #Ecc8a3;}
.white {background: white;}

.magenta-border {border: solid 3px #e03593;}
.magenta-inset-border {
  box-shadow: inset -2px -2px 0px #e03593, inset 2px 2px 0px #FFFFFF;
}

.orange-inset-border {
  box-shadow: inset -2px -2px 0px orange, inset 2px 2px 0px #FFFFFF;
}

.lavender-border {border: solid 3px #e03593;}
.lavender-inset-border {
  color: white;
  box-shadow: inset -2px -2px 0px #6A61C9, inset 2px 2px 0px #FFFFFF;
}

.magenta-btn{
  display: flex; 
  align-items: center;
  justify-content: center;
  background: #FFB4EE;
  border: 1px solid #E03593;
  box-sizing: border-box;
  height: 60px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -2px -2px 0px #E03593, inset 4px 4px 0px #FFFFFF;
  cursor: url("/assets/bling-pointer.svg"), auto;
  color: white;

  &:hover{
    background: #E03593;
    border: 1px solid #E03593;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 0px #FFB4EE, inset 4px 4px 0px #C41B78; 
    color: #FFB4EE;
  }
}



.orange-btn {
  background: #Ecc8a3;;
  border: 1px solid orange;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -2px -2px 0px orange, inset 4px 4px 0px #FFFFFF;
  cursor: url("/assets/bling-pointer.svg"), auto;

  &:hover{
    background: orange;
    border: 1px solid orange;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 0px #Ecc8a3, inset 4px 4px 0px orange; 
    color: #Ecc8a3;
  }
}


.styled-button {
  padding: 10px 50px;
  text-align: center;
}

.btn-wrapper {width: 100%; margin: 25px 0px 15px 0px; display: flex; align-items: center; justify-content: center;}
.black-border{border: 2px solid black;}
