
/* General syles
***************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

* {
  font-family: 'Consolas', monospace !important;
  cursor: url("/assets/bling-cursor.svg"), auto;
  scroll-behavior: smooth;
}

html {
  width: 100%!important; 
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Consolas', monospace;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box; 
  height: 100%; 
  width: 100vw!important;
  background: #E03693;
  background: -webkit-radial-gradient(bottom right, #E03693, #B9C8F0);
  background: -moz-radial-gradient(bottom right, #E03693, #B9C8F0);
  background: radial-gradient(to top left, #E03693, #B9C8F0);
  overflow-x: hidden; 
  opacity: 0;  

} 



h1 { font-family: Consolas, Roboto Mono, monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
h2 { font-family: Consolas, monaco, monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
h3 { font-family: Consolas, monaco, monospace; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } 
p { font-family: Consolas, monaco, monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 200; line-height: 22px; } 
blockquote { font-family: Consolas, monaco, monospace; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
pre { font-family: Consolas, monaco, monospace; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }
ul {margin-block-start: 0;}
a {text-decoration: none; font-size: 18px; }
a:hover {cursor: url("/assets/bling-pointer.svg"), auto !important;}
a img:hover {cursor: url("/assets/bling-pointer.svg"), auto !important;}
button a:hover {cursor: url("/assets/bling-pointer.svg"), auto !important;}
.magenta-btn span{cursor: url("/assets/bling-pointer.svg"), auto !important;}


main {padding: 2vw 6vw;}

.site-container {
  margin: auto;
}

.sqs-pill-shopping-cart-content {
  background: blue;
  margin-top: 40px;
}

.site-navigation { height: 40px; width: 100%; z-index: 3000!important; position: fixed; top: 0; left: 0;  }
.site-navigation .close-btn {margin-top: -6px; height: 21px;}
.site-navigation-list {
  height: 40px; width: 100%; z-index: 300; position: fixed; top: 0; left: 0; box-sizing: border-box;
  padding: 10px;

}

#mobile-nav {
  display: none; 
  padding: 10px; 
  margin-left: 4px; 
  position: fixed; top: 40px;
  max-width: 200px; 
  width: 100%;
}
#mobile-nav-title {max-width: 200px; height: 40px;}
#mobile-nav-title a {color: white;}
#mobile-nav ul {padding: 15px 0px; list-style-type: none; margin: 0;}
#mobile-nav a { color: white;}
#mobile-nav li {margin: 10px 0px}
#secondary-mobile-close {display: none; color: white; float: right;}
.site-navigation-item {
  display: inline-block;
  a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding:2.5px 5px;
    &:hover {border: 1px solid black;}
  } 
}

#dropdown-content {
  display: none;
  position: absolute;
  margin: 5px 0 0 145px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 5px;
  z-index: 3001;
}
.dropdown-links a{color: black;}
.dropdown-links:hover {text-decoration: underline;}
.site-title-heading {display: none;}
// .content-container { border: 3px solid lime; }


.logo-wrapper {width: 100%; text-align: center; margin: 2vw 0vw;}
  
  .logo-wrapper img {max-width: 400px; width: 100%; cursor: url("/assets/bling-pointer.svg"), auto; }
  .logo:hover {transform: scale(1.05);}
  .page-title-h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    background: #b1a9f3;
    box-shadow: inset -2px -2px 0px #6A61C9, inset 2px 2px 0px #FFFFFF;
    height: 60px;
    margin: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
  }




// BLOCK STYLING 
.t-order a {
  text-decoration: underline;
  color: green;
}

div#confirmed-page h1 {
  visibility: hidden;
}
div#confirmed-page h1:before {
  visibility: visible;
  content: "Order confirmed - Thank you!" ;
}

.centered-wrapper {max-width: 100%; margin: 0 15% -10px 15%;}


.box {border: 2px solid black; padding: 25px; transform: translate(10px, -10px);}
.box-wrapper {border: 2px solid black; z-index: 2; margin: 2vw 4vh;}
.box-wrapper:hover {transform: scale(1.01);}
.img-box {width: 100%; margin: -6px 0px -10px 0px;}
.window-bar-wrapper {border: 2px solid black; margin: 2vw;}
.window-bar {
  width: 100%;
  top: 0; 
  height: 35px; 
  color: white;
  display: inline-block;
}
.window-bar a {float: right;}
.window-bar p {float: left; padding: 5px 5px 5px 5px; margin: 0 0 0 5px;}
.close-btn {padding: 4px 10px;
   color: white; background: rgba(255,255,255,0.5); float: right; border: 2px solid white;}
// .close-btn:hover {color: black; border: 2px solid black;}

.sticker {
  position: absolute; 
  z-index: 50; 
}


.flex-float {display: flex; width: 100%;}
.float-left {float: left; width: 50%; }
.float-right {float: right; width: 50%;}


//######################## ABOUT PAGE 

#page-5fd02f0826d54b3c06c9d1a9.site-container {
  background-image: url("/assets/about-bg-long.jpg")!important;
  background-size: cover;
  background-repeat: no-repeat;
}
 
.sqs-block-summary-v2 .summary-item-list {background: #fbe3f3;}



/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;

  }
}


// ################ BLOG LIST 
article {
  background: #DBDBDC; 
  border: 3px solid blue;
  border-radius: 5px;
  padding-bottom: 35px;
}

article .title {
  background: blue;
  margin: 0; 
  padding: 5px;
  color: white;
  height: 40px;
}



.blog-close-btn {float: right; font-weight: 100; background-color: rgba(255, 255, 255, 0.5); border: 1px solid white; padding: 0px 7px; border-radius: 3px;}
.blog-close-btn:hover {transform: scale(1.1);}
.blog-list-wrapper {
  box-sizing: border-box;
  width: 100%; 
  padding: 10px;
  border-top: 1px solid white; height: 200px; display: flex;

}
.blog-list-left {width: 20%; max-height: 250px; border: 4px solid #DBDBDC;  display: flex; background-image: url('https://breedingbetterdogs.com/paulcosta/sites/default/files/styles/extra_large/public/field/image/Windows-default-shortcut-icon.png?itok=zkh2swTd'); background-size: contain; background-repeat: no-repeat; background-position: center;}
.blog-list-right {width: 80%; border: 4px solid #DBDBDC;  background: white; 
  padding: 10px 5px;
  border: 2px solid black 2px solid gray;
  border-style: inset!important;
  max-height: 250px;
  overflow-y: scroll;
  margin-top: -1px;}

.blog-list-right p {border: none!important; font-size: 14px; padding: 0;}

article .title a {color: white; font-size: 18px; }
article .title h1 {height: 35px;}
.blog-title {max-width: calc(100% - 20px); float: left;}
.blog-list-nav {box-sizing: border-box; width: 100%; border-top: 1px solid gray; padding: 2px;}
.blog-list-nav-icons {float: left; margin-left: 10px; padding: 10px 2px; display: table-row;}
.blog-list-nav-icons a{border: 1px solid black!important; border-radius: 4px; padding: 1px 3px; font-size: 12px; text-transform: uppercase;}
.blog-list-nav-icons a:hover {background: white;}
span.comments{float: right; font-size: 14px!important; margin-right: 10px;}
.blog-list-nav-button {border-bottom: 1px solid gray; height: 33px; margin-right: 10px;}
.blog-list-nav-button a{float: right; color: black; border:2px solid gray; border-style: inset!important;margin-top: 0px; padding: 3px 10px; color: white; background: rgba(0,0,0, 0.5)}
.blog-list-nav-button a:hover {background: rgba(0,0,0,0.3)}
.blog-posted-date{height: 18px; border-bottom: 1px solid gray; border-style: inset; padding: 6px;}
.meta a {color: gray; font-size: 12px; margin-top: 4px; padding: 10px;}

.blog-list-nav .meta {height: 30px; border:2px solid gray; border-style: inset!important}

.blog-buttons {border: 4px solid gray; border: 1px inset white; padding: 10px;  margin: 0px 15px;}
.blog-buttons a {color: gray; font-size: 14px; }


.blog-notif-wrapper {width: 100%; display: flex; align-items: center; margin: 4vw 0;justify-content: center;}
.blog-notif {
  max-width: 500px;
  border: 2px solid #000776; 
  background: #DBDBDC;
  border-radius: 5px; 
}

.blog-notif-content {
  border: 1px solid white; 
  
  text-align: center; 
  padding: 15px 25px; 
}

.blog-notif .title {
  background: #000776;
  margin: 0; 
  padding: 5px;
  color: white;
}

.blog-notif-button {
  border:2px solid gray; border-style: inset!important;
  padding: 5px 15px; 
  color: black; 
  background:rgba(255,255,255, 0.5)
}

.comment-section {
  border:4px solid gray; border-style: inset!important;
  margin: 15px; 
  background-color: white;
  padding: 25px;
  color: gray!important;
}
.bottom-blog-navigation { height: 35px; padding: 0px 15px; border: 1px solid red; display: inline-flex; color: black;}

.comment-header .author {
  color: red; font-size: 18px !important; font-weight: 200px;
}
.comment-section .controls {display: none;}
// ################# FULL POST BLOG PAGES 

.blog-content-wrapper {
  border: 2px solid red;
  padding: 25px;
  background: white;
  margin: 15px;
  border:4px solid gray; border-style: inset!important
}






// #############################  single product SHOP STYLING 

  #productWrapper  {
    border: 0px solid rgba(0,0,0,0); 
    width: 100%; 
    margin: 0;
  }

 #productWrapper {
   max-width: unset;
   max-height: unset;
   width: 100%; 

   position: relative;
   background: none;

  //  max-width: 1200px;
   padding: 0;
   left: 0;

}


// #productGallery #productThumbnails {

//   width: 100%;
//   height: 100%;
//   max-width: 120px; 
//   display: inline-block;
//   justify-content: space-between;
//   flex-direction: column;
//   margin-right: 50px;
//   overflow-x: hidden;
// }


// #productGallery #productThumbnails .content-fill {
//   width: 90px!important; 
//   margin-top: 25px;
//   height: 100px !important;
//   overflow-x: scroll;
//   flex: 100px;
//   z-index: 200!important;
// }

// #productGallery #productThumbnails {
//   top: 50px; 
//   margin-left: 0;
//   position: absolute;
// }
// #productGallery .sqs-active-slide{
//   border: 1px solid black;
// }

#productSummary {background: rgba(255,255,255,0.5); padding: 25px 50px 25px 50px;  margin: 0 5% 5vw 5%; width: 90%;}

// #productSlideshow .slide{
//   display: inline-block;
//   flex-direction: row;

// }

// #productSlideshow .sqs-gallery-design-stacked-slide {

//   display: inline-block;
//   flex-direction: row;
//   margin:0 150px 0 150px ;
//   max-height: 600px;
// }

// #productSlideshow .sqs-gallery-design-stacked-slide  img{
//   height: 100%; 
//   width: auto;
// }

// #productSlideshow .slide img {
  
//   height: auto;
//   z-index: -100!important;
  
  
  
// }

#productWrapper .product-price {
  color: gray; 
  margin: 10px 0px!important;
  display: none;
}

#productWrapper #productGallery {
  float: right; 
  width: 60%; 
  padding-bottom: 50px; 
  }

#productWrapper #productDetails {
  float: left; 
  width: 35%;


}

#productWrapper .product-price {

  color: black; 
  text-align: left; 
  border: none!important;
  
}


// ################################# shop page 


#productList .product {
  cursor: pointer;
  float: left;
  
  position: relative;
  width: 22%;
  left: 0.5%;
  min-width: 100px;
  
}

#productList {
  width: 100%;

  margin: 0;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  position: relative !important;
  margin-top: unset !important;
  
}

.product, .summary-item {
  flex-grow: 1;
  border: 2px solid #e03593;; 
  padding: 25px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 500px;
  background: #fbe3f3;
  margin: 25px;
  
}

#productList .post-type-store-item:hover {
  border: 2px inset #b1a9f3;
  transform: scale(1.05);
  background: white;
}

.product-title, .summary-title, .summary-title-link{
  text-decoration: none !important;
  color: black;
  font-size: 24px !important;
  margin: 24px 0px;
}

#productList .product-price {
  text-decoration: none;
  display: flex; 
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 21px;
  color: white;
  width: 100%; 
  text-align: center;
  
}

.product-price span {
  font-size: 18px !important;
}


//############################# BLING SHOP 

div#yui_3_17_2_1_1607488832489_327 {
  background: white !important;
  max-height: 950px !important;
  overflow-y: scroll !important;
}

.bling_shop {
  border: 2px solid #E03593; 
  height: 100%;
  max-height: 1000px;
  width: 100%;
  overflow-y: scroll;
  max-width: 850px;
  margin-top: 50px;
}

.bling_shop_content {
  border-left: 3px solid white;
  border-top: 3px solid white;
}


.bling_shop_header { height: 35px; color: white; padding: 5px;}

.featured-product-grid { padding: 3%; }
.filter-menu-wrapper {
  width: 55%; 
  max-width: 875px;
  position: absolute;
  margin: 35px 52px 0 0; 
  right: 0;
  z-index: 10;
}


.filter-menu {width: 35%; float: right; padding: 0px 10px; }
.filter-menu li a {font-size: 16px; padding: 2px; }
.filter-menu li {list-style-type: none; margin: 0; border: 1px;}
.filter-menu ul {padding-inline-start: 0%; text-align: right;}
.filter-menu a {color: black;}
.filter-menu a:hover {text-decoration: underline; }
.reviews {
  width: 100%; 
  margin-bottom: 10%;
}

.filter-menu-hover a:hover {display: block;}

.featured-bling-product {
  width: 100%;
  max-width: 42%;
  padding: 25px;
  float: left;
  flex-basis: 1;
  animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;
  z-index: 1;
  border: 2px solid rgba(0,0,0,0);
  min-width: 300px;
}

.featured-product-details-wrapper {

  height: 30px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.sqs-announcement-bar {
  margin-top: 40px;
  z-index: 0; 
}

.featured-bling-product h5 {font-size: 18px; float: left; width: 50%; font-weight: 200;}
.featured-bling-product h6 {width: 50%; font-weight: 200; padding-bottom: 5px;}
.featured-bling-product h6 a {float: right; color: black; font-size: 12px; text-align: center; text-transform: uppercase; padding: 2px; border-radius: 2px; background: lightblue; border: 1px solid black;}
.featured-bling-product h6 a:hover {background: #b9c8f0; color: white; border: inset black 2px;}
.featured-bling-product:hover {border: 2px solid #e03593; background: white;}

.product_img { height: 300px; width: auto; object-fit: cover;  padding: 0px; border: 1px solid black; background: white;}
.featured-bling-product img {width: 100%; margin-bottom: 15px;}
.product_button {padding-top: 20px;}
.product_name { margin: 25px 0px;}
.product_description {height: 15px;}
.chains .product_img {object-position: 0 0;}

// ####################################### INSTAGRAM SECTION 
.instagram_header {
  text-align: center; 
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 90%; 
  margin: 2.5vh 5%;
}



.eye_sticker {
  padding: 20px;
  width: 100px;
}

.spotify-wrapper {
  display: flex; justify-content: center; margin: 0 20vw;
}

// ################### CONTACT PAGE 
div#page-5fd02ee2cb6bfe602c47a5ae {
  background: white;
  
  margin: 0;
}

// ############## FOOTER 
footer.site-footer {
  margin: 0!important;
  padding: 0!important;
}

footer { width: 100vw; padding: 50px; box-sizing: border-box; margin-top: 20vw;}
.email-mailchimp-wrapper {width: 100%; display: flex; align-items: center; justify-content: center;}
.email-mailchimp-left {width: 20%; float: left; margin-right: 5%;}
.footer-logo {width: 100%;}
.email-mailchimp-right {width: 60%;float: right; max-width: 700px;}
#mce-EMAIL {width: calc(700px); border-radius: 0; height: 50px; font-size: 18px; float: left;}
#mc-embedded-subscribe {float: right; border-radius: 0; height: 50px; font-size: 18px; text-transform: uppercase; width: 150px;}
.nav-tree ul{width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; text-align: center; margin: 50px 0 0 0; padding: 0; }
.nav-tree li {list-style-type: none; color: black; padding: 2px 15px;}
.nav-tree a {color: black; font-size: 12px;}
.nav-tree li:hover {text-decoration: underline; font-size: 14px;}
.copyright-wrapper {width: 100%; text-align: center;}
#de-credits, #de-credits a{color: gray; font-size: 10px;}
#de-credits a:hover {color: white;}

@media (max-width: 950px) {
    .email-mailchimp-wrapper {display: block;}
    .email-mailchimp-left {width: 100%; display: flex; justify-content: center;}
    .footer-logo {height: 150px; width: auto;}
    .email-mailchimp-right {width: 100%; text-align: center;}
    article {  padding-bottom: 35px;}
    #productSummary {
      background: rgba(255, 255, 255, .75);
      width: 88%;
      margin: 5vw;
      padding: 25px;
  }
  .page-title-h1 {font-size: 22px!important;}
  main {padding: 5vw 3vw; }

  #productWrapper {
    transform: translateX(-6vw);
  }

  #productWrapper #productGallery {
    width: 100%;
    order: 0;
  }
  
  #productWrapper #productDetails {
    float: left; 
    width: 100%;
    order: 1!important;

  }
}

@media (max-width: 450px){
  article {padding-bottom: 65px;}
  .meta a {padding-left: 0px; }
  #productList .product {width: 90%; margin-left: 5%; margin-bottom: 10%;  }
  .blog-list-nav-button .comments {display: none;}
  .blog-list-nav-icons {overflow: scroll;}
  .blog-list-nav-button a {width: 90%; text-align: center;}
  .field-list{margin: 0 2vw;}
  .eye_sticker {width: 75px;}
  .spotify-wrapper {margin: 3vh 2vw;}
  .centered-wrapper {margin: 3vh 2vw!important;}
  .productSummary {width: 100%; margin: 2vw;}

}




/* Break grid and stack blocks on small screens
***************************************************/


.mobile-show {
  display: none;
}

.switch-first {order: 1;}
  .switch-second {order: 0;}


@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
  .mobile-show {display: block; }
  .mobile-hide {display: none;}
  .site-navigation-item {display: none;}
  .switch-first {order: 0;}
  .switch-second {order: 1;}
  .box-wrapper {margin: 10vw 2vw !important;}
  .flex-float {
    flex-direction: column;
  }
  .float-left {order: 2; width: 100%; float: center;}
  .float-right {order: 1; width: 100%; float: center;}


}


@media screen and (max-width: 1050px){
  .featured-bling-product { padding: 20px; }
}

@media screen and (max-width: 1300px) {
.featured-bling-product {
  min-width: 200px;
  width: 40%;
  
}}

.light-lav {background: #e1def4;}
.lavender {background: #b1a9f3;}
.magenta {background: #e03593;}
.light-pink {background: #fbe3f3;}
.pink {background: #f5b8eb;}
.dark-pink {background: #c36acd;}
.light-blue {background: #b9c8f0;}
.light-orange {background: #f9eee2}
.orange {background: #Ecc8a3;}
.white {background: white;}

.magenta-border {border: solid 3px #e03593;}
.magenta-inset-border {
  box-shadow: inset -2px -2px 0px #e03593, inset 2px 2px 0px #FFFFFF;
}

.orange-inset-border {
  box-shadow: inset -2px -2px 0px orange, inset 2px 2px 0px #FFFFFF;
}

.lavender-border {border: solid 3px #e03593;}
.lavender-inset-border {
  color: white;
  box-shadow: inset -2px -2px 0px #6A61C9, inset 2px 2px 0px #FFFFFF;
}

.magenta-btn, .sqs-system-button, .sqs-add-to-cart-button{
  display: flex; 
  font-size: 18px !important;
  align-items: center;
  justify-content: center;
  background: #FFB4EE !important;
  border: 1px solid #E03593;
  box-sizing: border-box;
  height: 60px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -2px -2px 0px #E03593, inset 4px 4px 0px #FFFFFF;
  cursor: url("/assets/bling-pointer.svg"), auto;
  color: white;

  &:hover{
    background: #E03593;
    border: 1px solid #E03593;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 0px #FFB4EE, inset 4px 4px 0px #C41B78; 
    color: white;
    cursor: url("/assets/bling-pointer.svg"), auto;
  }
}



.orange-btn {
  background: #Ecc8a3;;
  border: 1px solid orange;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -2px -2px 0px orange, inset 4px 4px 0px #FFFFFF;
  cursor: url("/assets/bling-pointer.svg"), auto;

  &:hover{
    background: orange;
    border: 1px solid orange;
    box-sizing: border-box;
    box-shadow: inset -2px -2px 0px #Ecc8a3, inset 4px 4px 0px orange; 
    color: #Ecc8a3;
  }
}


.styled-button {
  padding: 10px 50px;
  text-align: center;
}

.btn-wrapper {width: 100%; margin: 25px 0px 15px 0px; display: flex; align-items: center; justify-content: center;}
.black-border{border: 2px solid black;}

.scale-up-center{-webkit-animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

.shrink{animation: shrink 0.25s cubic-bezier(1.000, 0.75, 0.5, 0.25) both;}
@keyframes shrink {0% {position: fixed; left: 0%;} 100% {position: fixed; left: -100%; margin-left: 90px;}}

.expand{animation: expand 0.25s cubic-bezier(1.000, 0.75, 0.5, 0.25) both;}
@keyframes expand {0% {position: fixed; left: -100%; margin-left: 90px;} 100% {position: fixed; left: 0%; margin-left: 0px;}}


@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
.fade-out{-webkit-animation:fade-out 1s ease-out both;animation:fade-out 1s ease-out both}
.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}

.scale-in-ver-top{-webkit-animation:scale-in-ver-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-ver-top .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes scale-in-ver-top{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}@keyframes scale-in-ver-top{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}